#
# This file is part of the SavaPage project <https://www.savapage.org>.
# Copyright (c) 2011-2019 Datraverse B.V.
# Author: Rijk Ravestein.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# For more information, please contact Datraverse B.V. at this
# address: info@datraverse.com
#

#=======================================================================
#                  SavaPage OAuth Client Plug-in
# 
#             Microsoft Azure Active Directory (Azure AD)
#             Microsoft Azure Active Directory (Azure AD) 2.0 
#
#=======================================================================
#
#           THIS FILE CONTAINS CONFIDENTIAL INFORMATION AND
#              SHOULD ONLY BE ACCESSIBLE BY ADMINISTRATORS
#
#            DO NOT CHANGE THE PERMISSIONS SET ON THIS FILE
#
#=======================================================================

#-------------------------------------------------------------------
# Unique ID of this plug-in.
#-------------------------------------------------------------------
savapage.plugin.id=azure-oauth

#-------------------------------------------------------------------
# Descriptive name
#-------------------------------------------------------------------
savapage.plugin.name=Microsoft Azure AD OAuth Client

#-------------------------------------------------------------------
# Plug-in class
#-------------------------------------------------------------------
savapage.plugin.class=org.savapage.ext.oauth.AzureOAuthPlugin

#-------------------------------------------------------------------
# true | false
#-------------------------------------------------------------------
#savapage.plugin.enable=false
savapage.plugin.enable=true

#-------------------------------------------------------------------
# Is plug-in turned online when loaded? (true | false) 
#
# When the plug-in is turned offline, users are not able to   
# authenticate, but Web API callbacks are handled. 
#-------------------------------------------------------------------
savapage.plugin.online=true

#-------------------------------------------------------------------
# true | false
#-------------------------------------------------------------------
savapage.plugin.live=true

#-----------------------------------------------------------------
# Azure version: 1 | 2
#-----------------------------------------------------------------
azure.oauth.version=1

#-----------------------------------------------------------------
# OAuth 2.0 client id and secret
#-----------------------------------------------------------------
azure.oauth.client-id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
azure.oauth.client-secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#-------------------------------------------------------------------
# Authorized redirect URL: must end with /user/sp-oauth/azure
#-------------------------------------------------------------------
azure.oauth.callback-url=https://savapage.example.com/user/sp-oauth/azure

# end-of-file